<h1><%= @description %></h1>
<h1>Find what kind of triangle you have or if you even have a triangle at all!</h1>

<form action="/output">
  <div class="form-group">
    <label for="length1">Length 1 of your triangle</label>
    <input id="l1" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="length2">Length 2 of your triangle</label>
    <input id="l2" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="length3">Length 2 of your triangle</label>
    <input id="l3" name="width" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
